.form-main-body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.form-container {
  height: 450px;
  width: 450px;
  margin: 50px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  background-color: pink;
  border: 2px solid gray;
  border-radius: 5px;
}

img {
  background-color: white;
  margin: 10px 0px;
}

input {
  height: 20px;
  border-radius: 3px;
  margin: 5px 0px;
}

.button-container {
  padding: 30px;
}

label {
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 600;
}
